* {
    margin: 0;
    box-sizing: border-box;

    font-family: 'Source Sans Pro', sans-serif;
}

html {
    font-size: 17px;
}

html, body {
    height: 100%;
}

.body--overflow {
    overflow: hidden;
}

/*========================================== Navigation Bar ==========================================*/
.nav {
    width: 100%;
    padding: 0 calc(8.33% - 25px);
}

.nav__bg {
    background: #152a33;
}

.nav__area {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1500px;
    margin: 0 auto;
}

.nav__brand, 
.nav__container {
    display: flex;
}

.nav__container--left {
    justify-content: flex-start;
}

.nav__container--right {
    justify-content: flex-end;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav__link,
.nav__icon {
    align-items: center;
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.nav__link:hover,
.nav__icon:hover {
    color: #9cccc2;
    cursor: pointer;
}

.nav__line {
    width: 20px;
    height: 2px;
    background-color: #e8e8e8;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.nav__line--margin-top {
    margin-top: 6px;
}

.nav__icon:hover {
    cursor: pointer;
}

.nav__icon:hover .nav__line {
    background-color: #9cccc2;
}

.nav__icon--visibility {
    display: none;
}

.nav__icon--transform-x .nav__line--transform-one {
    transform: rotate(-45deg) translate(-4px, 7px);
}

.nav__icon--transform-x .nav__line--transform-two {
    opacity: 0;
}

.nav__icon--transform-x .nav__line--transform-three {
    transform: rotate(45deg) translate(-4px, -7px);
}

/*========================================== Introduction Section ==========================================*/
.intro {
    position: relative;
}

.intro:before, 
.contact:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: auto;
}

.intro:before {
    background-position:  center bottom;
    max-height: 650px;
    max-width: 1500px;
}

.welcome__content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 61.333px);
    justify-content: center;
    margin: 0 8.33%;
    max-height: calc(650px - 6vw);
}

.ab {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.welcome__header {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #282828
}

.welcome__header--bold {
    font-weight: 700;
}

.welcome__subheader {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #797979;
}

.welcome__btn {
    margin-top: 20px;
}

.welcome__svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vw;
}

/*========================================== About Section ==========================================*/
.about-project-wrapper {
    overflow: hidden;
}

.about,
.project,
.contact {
    padding: 90px 0;
}

.about__title,
.project__title,
.contact__title {
    display: table;
    margin: 0 auto;
}

.about__header,
.project__header,
.contact__header {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: center;
}

.about__underline,
.project__underline,
.contact__underline {
    background: #9cccc2;
    height: 3.5px;
    width: 0;
}

.about__underline--start,
.project__underline--start,
.contact__underline--start {
	width: 0px;
	-webkit-animation: line-start 2s ease-out forwards;
	   -moz-animation: line-start 2s ease-out forwards;
	    -ms-animation: line-start 2s ease-out forwards;
	     -o-animation: line-start 2s ease-out forwards;
	        animation: line-start 2s ease-out forwards;
}

@-moz-keyframes line-start {
    from {width: 0px;}
    to {width: 50%;}
}

@-webkit-keyframes line-start {
	from {width: 0px;}
	to {width: 50%;}
}

@keyframes line-start {
    from {width: 0%;}
    to {width: 50%;}
  }

.about {
    margin: 0 8.33%;
}

.about__paragraph {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    max-width: 1500px;
    line-height: 1.9em;
    letter-spacing: 0.0625em;
    text-align: center;
    width: 80%;
}

.about__paragraph--bold {
    color: #d46c26;
    font-size: 1.125rem;
    font-weight: 700;
}

.about__paragraph--mt-20 {
    margin-top: 20px;
}

.about__paragraph--mt-40 {
    margin-top: 40px;
}

/*========================================== Project Section ==========================================*/
.project {
    position: relative;
    width: 100%;
    background: #f4f4f4;
}

.project__svg {
    position: absolute;
    top: 0;
    transform: translateY(-1px);
    width: 100%;
}

.project__svg path {
    fill: #ffffff;
}

.project__container,
.project__example {
    list-style-type: none;
}

.project__container {
    padding: 0;
    margin: 40px auto 0 auto;
}

.project__example {
    display: inline-block;
}

.project__cell {
    padding: 12px;
    position: relative;
    display: block;
    margin: 0 10px 20px 10px;
    background: #ffffff;
    border-radius: 3px;
    width: 276px;
    height: auto;
}

.project__cell--shadow {
    box-shadow: #c5c5c5 0px 0px 2px;
}

.project__image {
    display: block;
    height: auto;
    width: 100%;
}

.project__info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 3px;
    opacity: 0;
    background: #ffffff;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    letter-spacing: 0.0625em;
    padding: 20px;
    text-decoration: none;
}

.project__cell:hover .project__info {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: #e2e2e2 0 2px 4px 4px;
}

.project__name {
    color: #444444;
    font-size: 1rem;
    font-weight: 700;
}

.project__description,
.project__date {
    color: #797979;
    font-weight: 400;
    font-size: 0.8rem;
}

.project__description {
    line-height: 1.5em;
    margin-top: 5px;
}

.project__type {
    padding: 5px;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.625rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 3px;
}

.project__type--design {
    background: #6a5acd;
}

.project__type--development {
    background: #008000;
}

.project__date {
    bottom: 20px;
    left: 20px;
    position: absolute;    
}

/*========================================== Image Close Up ==========================================*/
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgba(0,0,0, 0.8);
}

.modal__content {
    position: relative;
    background: #f4f4f4;
    border-radius: 6px;
    width: 70%;
    max-width: 800px;
    margin: 20px auto;
    z-index: 4;
}

.modal__header {
    box-shadow: 0px 1px 1px #e4e4e4;
    padding: 25px;
    position: relative;
}

.modal__name {
    color: #444444;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 50px;
}

.modal__button-close {
    color: #acacac;
    font-size: 40px;
    position: absolute;
    padding: 0px 20px;
    right: 10px;
    top: 10px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.modal__button-close:hover {
    color: #444444;
    cursor: pointer;
}

.modal__type {
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 0.625rem;
    margin-top: 5px;
    padding: 5px;
}

.modal__image {
    display: inline-block;
    height: auto;
    width: 100%;
}

/*========================================== Contact Section ==========================================*/
.contact {
    position: relative;
}

.contact:before {
    background-position:  center top;
}

.contact__svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6vw;
}

.contact__header {
    color: #ffffff;
}

.contact__wrapper {
    margin: 40px 8.33% 0;
}

.contact__form {
    margin: 40px auto 0 auto;
    max-width: 520px;
    width: 100%;
}

.contact__input {
    background: #e8e8e8;
    border: none;
    border-radius: 3px;
    display: block;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 4%;
    padding: 7px;
    transition: background ease 0.4s;
    -webkit-transition: background ease 0.4s;
}

::placeholder {
    color: #9b9b9b;
    font-weight: 400;
    opacity: 1;
}

input:focus,
textarea:focus {
    background: #ffffff;
}

.contact__input--textarea {
    height: 146px;
    min-height: 39px;
    resize: vertical;
}

.contact__input--100 {
    width: 100%;
}

.contact__input--ab {
    float: right;
}

.contact__social {
    margin-top: 40px;
    text-align: center;
}

.contact__icon {
    color: #ffffff;
    position: relative;
    top: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.contact__icon:hover {
    color: #9cccc2;
    top: -4px;
}

.contact__icon--mr {
    margin-right: 30px;
}

.contact__icon--ml {
    margin-left: 30px;
}

.btn {
    background: #d46c26;
    border: none;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    transition: background ease 0.3s;
    -webkit-transition: background ease 0.3s;
}

.btn:hover {
    background: #dd7c3c;
    cursor: pointer;
}

.btn__text {
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 0.15em;
    padding: 0 20px;
}

.btn--scroll-up {
    bottom: 40px;
    color: #ffffff;
    display: none;
    font-size: 1rem;
    padding: 0 12px;
    position: fixed;
    right: 8.33%;
    z-index: 2;
}

.btn--scroll-up:hover .btn__icon {
    -webkit-animation: float 0.75s ease-in-out infinite;
    -moz-animation: float 0.75s ease-in-out infinite;
    -o-animation: float 0.75s ease-in-out infinite;
    animation: float 0.75s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translatey(0px); }
    50% { transform: translatey(-5px); }
    100% { transform: translatey(0px); }
}

/*========================================== Media Queries ==========================================*/
/*------------ Navigation Bar ------------*/
@media screen and (max-width: 760px) {
    .nav__content {
        display: none;
    }

    .nav__content--responsive {
        position: absolute;
        right: 0;
        top: 61.333px;
        display: flex;
        flex-direction: column;
        max-width: 880px;
        width: 100%;
        z-index: 1;
    }

    .nav__content--responsive > *{
        display: block;
        background: rgba(36,44,46,0.95);
        border-bottom: solid 1px rgba(174,204,198,0.4);
        padding: 12px;
    }

    .nav__icon--visibility {
        display: flex;
    }
}

/*------------ Project Cells ------------*/
/* four colums min-width: 1263px)*/
@media screen and (min-width: 1601px) {
    ul {
        max-width: 1197px;
    }
}

/* three colums max-width: 1262px*/
@media screen and (max-width: 1600px) {
    ul {
        max-width: 897px;
    }
}

/* two columns */
@media screen and (max-width: 915px) {
    ul {
        max-width: 597px;
    }

    .about__paragraph {
        width: 100%;
    }
}

/* one column */
@media screen and (max-width: 615px) {
    ul {
        max-width: 276px;
    }

    .project__cell {
        margin: 0 0 20px 0;
    }
}

/*------------ Welcome Section ------------*/
@media screen and (max-width: 380px) {
    .welcome__header {
        font-size: 2rem;
    }

    .about__header,
    .project__header,
    .contact__header {
        font-size: 1.8rem;
    }

    .welcome__subheader {
        font-size: 1rem;
    }

    .welcome__content {
        text-align: center;
    }
}

/*------------ Scroll Up Button ------------*/
@media screen and (max-width: 480px) {
    .btn--scroll-up {
        bottom: 8.33vw;
    }
}

/*------------ Modal View ------------*/
@media screen and (max-width: 780px) {
    .modal__content {
        border-radius: 0px;
        margin: 0px;
        width: 100%;
    }
}

/*------------ Welcome Background Image ------------*/
@media screen and (min-width: 761px) {
    .intro:before {
        background-image: url(images/backgrounds/background-md.png);
    }
}

@media screen and (max-width: 760px) {
    .intro:before {
        background-image: url(images/backgrounds/background-sm.png);
    }
}

.contact:before {
    background-image: url(images/backgrounds/contact-md.png);
}