* {
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 8.33%;
    padding-right: 8.33%;
    background: #242424;
}

.nav__container {
    display: flex;
}

.nav__container--left {
    justify-content: flex-start;
}

.nav__container--right {
    justify-content: flex-end;
    width: 100%;
}

.nav__brand {
    display: flex;

    height: 70px;
    margin-right: 120px;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    height: 70px;
    max-width: 650px;
    width: 100%;
}

.nav__link,
.nav__icon {
    display: flex;
    flex-direction: column;

    height: 100%;
    justify-content: center;
    align-items: center; 

    color: #e8e8e8;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.15em;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.nav__icon {
    height: 70px;
}

.nav__link:hover,
.nav__icon:hover {
    color: #9cccc2;
}

.nav__link--current-page {

}

.nav__line {
    width: 20px;
    height: 2px;
    background-color: #e8e8e8;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.nav__line--margin-top {
    margin-top: 6px;
}

.nav__icon:hover {
    cursor: pointer;
}

.nav__icon:hover .nav__line {
    background-color: #9cccc2;
}

.nav__icon--visibility {
    display: none;
}

.nav__icon--transform-x .nav__line--transform-one {
    transform: rotate(-45deg) translate(-4px, 7px);
}

.nav__icon--transform-x .nav__line--transform-two {
    opacity: 0;
}

.nav__icon--transform-x .nav__line--transform-three {
    transform: rotate(45deg) translate(-4px, -7px);
}

.about-section {
    margin: 90px 8.33% 0 8.33%;
}

.about-section__header {
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 5px; 
}

.about-section__header--underline {
    border-bottom: 3.5px solid #9cccc2;
}

.about-section__header--bold {
    font-weight: 700;
}

.about-section__paragraph {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
}

.about-section__paragraph--bold {
    font-size: 18px;
    font-weight: 700;
    color: #d46c26;
}

@media screen and (max-width: 760px) {
    .nav__content {
        display: none;
    }

    .nav__content--responsive {
        position: absolute;
        right: 0;
        top: 70px;
        display: flex;
        flex-direction: column;
        max-width: 880px;
        z-index: 1;
    }

    .nav__content--responsive > *{
        display: block;
        background: rgba(36,44,46,0.95);
        padding: 8px;
        border-bottom: solid 1px rgba(174,204,198,0.4);
    }

    .nav__icon--visibility {
        display: flex;
    }
}