* {
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 8.33%;
    padding-right: 8.33%;
    background: #242424;
}

.nav__container {
    display: flex;
}

.nav__container--left {
    justify-content: flex-start;
}

.nav__container--right {
    justify-content: flex-end;
    width: 100%;
}

.nav__brand {
    display: flex;

    height: 70px;
    margin-right: 170px;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    height: 70px;
    max-width: 650px;
    width: 100%;
}

.nav__link {
    display: flex;
    flex-direction: column;

    height: 100%;
    justify-content: center;
    align-items: center; 

    color: #e8e8e8;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.15em;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.nav__link:hover {
    color: #9cccc2;
}

.nav__link--current-page {

}